html, body {
    margin: 0;
    padding: 0;
    background-color: #97EAF4;
}

.player_score {
    background-color: #06C2F4;
    width: 40%;
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid #007996;
}

.ad {
    position: fixed;
    width: 100%;
    bottom: 50px;
    margin: 0 auto;
    text-align: center;
}